:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #09090a;
  color: white;
  height: 100vh;
  margin-top: 18rem;
  padding-left: 4.8rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #09090a;
  z-index: 10;
}
header button {
  padding: 1.6rem 2.4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #8b5cf6;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-family: "inter";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 125%;
  cursor: pointer;
}

.date-filter {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.date-filter button {
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 10rem;
  background-color: #4c1d95;
  color: white;
  font-family: "inter";
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  width: 100%;
  cursor: pointer;
  transition: all 300ms ease;
}
.date-filter button:hover {
  background-color: #6d28d9;
}

.date-filter .month-filter {
  position: relative;
  width: 12rem;
}
.month-filter .container-month {
  position: absolute;
  left: 0;
  top: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 1rem;
  font-family: "Roboto Mono";
  background-color: #4c1d95;
  font-size: 1.4rem;
  width: 12rem;
  transition: all 300ms ease;
  overflow: hidden;
  height: 0;
}
.month-filter .container-month span {
  padding: 0.5rem 0;
  cursor: pointer;
  transition: all 300ms ease;
}
.month-filter .container-month span:hover {
  background-color: #6d28d9;
}

#form-habits {
  display: flex;
  padding: 4.8rem 0;
  width: fit-content;
}
.habits {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: flex-end;
}
.habit {
  width: 6.4rem;
  height: 6.4rem;
  font-size: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.days {
  display: flex;
  margin-left: 3.2rem;
  gap: 4.8rem;
}
.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}
.day div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
  font-family: "Roboto Mono";
  font-size: 2rem;
  line-height: 125%;
  color: #a1a1aa;
  text-align: center;
}
.day div span {
  font-size: 1.7rem;
}
input {
  appearance: none;
  -webkit-appearance: none;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 0.8rem;
  border: 0.2rem solid #27272a;
  background: #18181b;
}
input:checked {
  background: #8b5cf6;
  border: 0.2rem solid #a78bfa;
}
@media (max-width: 575px) {
  button div {
    display: none;
  }
}
@media (max-width: 400px) {
  header {
    flex-direction: column;
    gap: 4rem;
  }
  #form-habits {
    padding-top: 22rem;
  }
}
